.radios {
  background-color: rgb(237, 237, 237);
  padding: 1rem;
  color: black;

  .radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__wrapper {
      cursor: pointer;

      &:focus {
        outline: 1px solid rgb(46, 46, 46);
      }
    }

    &__item {
      margin-right: 0.2rem;
    }

    &__label {
      cursor: pointer;
    }

    &__submit {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:focus {
        outline: 1px solid rgb(46, 46, 46);
      }
    }
  }
}
